.App{
    width: 100%;
    height: 600px;
}
.mod2Arkaplan{

    width: 1000px;
    height: 600px;

    background-image: url("arkaplan2.jpg") !important;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}
.mod2Arkaplan2{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
}
.playScreen{

    width: 100%;
    height: 600px;
    background-color: rgba(63, 5, 5, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}
.playDiv{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}
.playLabel{
    padding: 5px;
    margin: 5px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 20px;

    font-size: 35px;
    font-family:"Arial Rounded MT Bold";

}

.max-min-div{
    display: flex;
    justify-content: center ;
    margin-top: 30px;
    width: 100%;
}
.min-input{
    margin-right: 10px;

}
.min-max{
    border: none ;
    border-radius: 10px;
    box-shadow: none;
    height: 40px;
    font-size: 18px;
    width: 195px;
    outline: none;
    color: #540303AD;
}
.tahminet-div{
    display: flex;
    flex-direction: column;
    width: 50%;

}
.tahmin-input{
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 40px;
    font-size: 20px;
}
.h1yk{
    margin-bottom: 3rem;
}
.tahmin-btn{
    margin: 2.5rem 0;
    background-color: #6B747CFF;
    color: white;
    border: none;
    border-radius: 15px;
    height: 50px;
}
.Baslik{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
    background-color: #6B747CFF;
    color: white;
    font-size: 75px;
    border-radius: 15px;
}

.Oyun-Mod{
    flex-direction: column;
}

.oyun-ekran-div1{
    width: 100%;

}
.kullanıcı-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 4rem;
    margin-top: 1rem;

}
.puan-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mod-adi-div{
    display: flex;
    justify-content: center !important;
}
.puan-h3{
    margin-right: 4rem;
}

.girdi-tahmin-div{
    display: flex;
    flex-direction: column;

}
.return-back-div{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.btn-yeniden{
    background-color: rgb(128, 128, 128);
    width: 9rem;
    min-width: 7rem;
    margin-left: 1rem;
}
.btn-yeniden:hover{
    background-color: green;
}
.btn-dive{
    box-shadow: none;
    color: white;
    border: none;
    border-radius: 15px;
    height: 40px;
}
.response-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.back-btn{
    background-color: #698dcc;
    width: 100px;
}
.btn-cikis{
    background-color: red;
    width: 100px;
}

.metin-text{
    color: #d7ec12;
    font-size: 20px;
    font-family: "Times New Roman";
}
.GirisBaslik{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
    background-color: #6B747CFF;
    color: white;
    font-size: 40px;
    border-radius: 15px;
}

.animason-div{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.su {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #3498db; /* Su rengi */
    transition: height 1s; /* Geçiş efekti ekleyin */
    z-index: 1;

}
.h3yakinlik{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d7ec12;;
    font-size: 30px;
    font-family: "Times New Roman";
    margin-right: 5rem;
}
.poph2{
    display: flex;
    justify-content: center;
}
.popup-btn-div{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17rem;
    background-image:url("winner.jpg") ;
    background-size: cover;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Popup'ın üstte olmasını sağlar */
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Yarı saydam siyah arka plan */
    z-index: 998; /* Popup'ın altında olmasını sağlar */
}
